@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --mh-orange: #fe8c08;
}

* {
  font-family: "Nunito", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.mh-bg-light {
  background-image: url(/public/background-light.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mh-bg-dark {
  background-image: url(/public/background-dark.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title-line {
  margin-top: 10px;
  border: 3px solid var(--mh-orange);
  width: 175px;
  border-radius: 10px;
}

.text-mh-orange {
  color: var(--mh-orange);
}
.bg-mh-orange {
  background-color: var(--mh-orange);
}

/* audio::-webkit-media-controls-panel {
  background-color: #292d32;
}
audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}
audio::-webkit-media-controls-mute-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display {
  color: #fff;
  text-shadow: none;
}
audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
  text-shadow: none;
} */

.pointer {
  cursor: pointer;
}
